html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.title {
    color: blue;
    text-align: center;
}

.container {
    background-color: pink;
    display: flex;
}

.item-container {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0.5rem;
}

.item-card {
    background-color: blue;
    margin: 0.2rem;
    display: flex;
}

.item {
    background-color: azure;
    display: flex;
    flex-grow: 5;
    width: 100%;
    margin: 0.2rem;
}

.item-remove {
    background-color: red;
    color: white;
    display: flex;
    flex-grow: 1;
}

.details-container {
    background-color: greenyellow;
    display: flex;
    flex-grow: 2;
    margin: 0.5rem;
}

.tag-group {
    background-color: brown;
    display: flex;
    margin: 0.2rem;
}

.tag {
    color: white;
    margin: 0.2rem;
}

.add-item-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.add-item-button {
    display: flex;
    text-align: center;
}

.add-item-container {
    display: flex;
    flex-direction: row;
}

.add-item-container-title {
    flex-grow: 1;
    margin: 0.5rem;
}

.add-item-container-description {
    flex-grow: 2;
    margin: 0.5rem;
}

.add-item-chosen-tags {
    display: flex;
    flex-direction: column;
    flex-shrink: 4;
    flex-grow: 4;
    margin: 0.2rem;
}

.add-item-buttons {
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
}

.add-item-ok {
    background-color: black;
    flex-grow: 3;
    margin: 0.5rem;
    color: green;
}

.add-item-ko {
    background-color: black;
    color: red;
    margin: 0.5rem;
    flex-grow: 3;
}

.add-item-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-item-buttons {
    display: flex;
    flex-direction: row;
}

.add-item-tags-container {
    display: flex;
    flex-direction: column;
}

.manage-tags {
    display: flex;
    text-align: center;
}

.add-tag {
    flex-grow: 3;
}

.remove-tag {
    flex-grow: 3;
}

.spacer-6 {
    flex-grow: 6;
}